---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid'>
    {% for post in paginator.posts %}
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <ul>
  	{% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "category" %}
          <li><a class="category-link {% if page.url == node.url %} active{% endif %}"
          href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>